*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    background-color: aliceblue;
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template: 1fr / minmax(150px, 15%) 2fr;
}

.content-container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: minmax(200px, auto-fill);
    grid-template-rows: 0.5fr 2fr;
}

.dashboard{
    background-color: bisque;
}
.header{
    background-color: red;
}
.first-section{
    background-color: aqua;
    display: grid;
    grid-template: 100px/ 1fr 1fr 0.5fr 0.5fr 0.5fr;
    padding: 2rem;
}

.search-form{
    grid-column-start: 1;
    grid-column-end:3;
}

.second-section{
    display: grid;
    grid-template-columns:53px 1fr 0.5fr;
    align-items: center;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    padding: 2rem;
    /* justify-items: center; */
}

.main-content{
    background-color: brown;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    transition: 0.4s;
    height: 100vh;
}

.items{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
}

.miscellaneous{
    background-color: chartreuse;
}

/* .search-btn{
    background-image: url("./asserts/magnify.svg");
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    
} */

.search-bar{
    border: none;
    background-color: #f3f4f6;
    width: 45%;
    height: 35px;
    border-radius: 0.9rem;
}

.search-bar:focus{
    outline: none;
}

.items-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.item{
    width: 300px;
    height: 300px;
    background-color: azure;  
    margin: 20px;  
}

.announcements{
    width: 100px;
    height: 100px;
    background-color: yellow;
}


